[report]
exclude_also =
    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    ; Don't complain if tests don't hit defensive assertion code:
    assert False

[run]
branch = True
omit =
    ; Don't collect coverage for test files themselves:
    test/*
